/*Flex Framework*/ 
.main_flex {
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
}

.main_flex__nowrap{
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row nowrap;
	flex-flow:row nowrap;
}

.flex__auto {
	flex:auto;
	-webkit-flex:auto;
	-ms-flex:auto;
} 

.flex__jcontent_between {
	justify-content:space-between;
	-webkit-justify-content:space-between;
}

.flex__jcontent_start{
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
}

.flex__jcontent_end{
	justify-content:flex-end;
	-webkit-justify-content:flex-end;
} 

.flex__jcontent_center{
	justify-content:center;
	-webkit-justify-content:center;
} 

.flex__jcontent_around{
	justify-content:space-around;
	-webkit-justify-content:space-around;
} 


.flex__align-items_start{
	align-items:flex-start;
	-webkit-align-items:flex-start;
} 

.flex__align-items_end{
	align-items:flex-end;
	-webkit-align-items:flex-end;
} 

.flex__align-items_baseline{
	align-items:baseline;
	-webkit-align-items:baseline;
} 

.flex__align-items_stretch{
	align-items:stretch;
	-webkit-align-items:stretch;
} 

.flex__align-items_center{
	align-items:center;
	-webkit-align-items:center;
} 

.flex__align-content_flex-start{
	align-content:flex-start;
	-webkit-align-content:flex-start;
} 

.flex__align-content_flex-end{
	align-content:flex-end;
	-webkit-align-content:flex-end;
} 

.flex__align-content_space-between{
	align-content:space-between;
	-webkit-align-content:space-between;
} 

.flex__align-content_center{
	align-content:center;
	-webkit-align-content:center;
} 

.flex__align-content_space-around{
	align-content:space-around;
	-webkit-align-content:space-around;
} 

.flex__align-content_stretch{
	align-content:stretch;
	-webkit-align-content:stretch;
} 

.flex__flex-grow_01{
	flex-grow:1;
	-webkit-flex-grow:1;
} 

.flex__flex-grow_02{
	flex-grow:2;
	-webkit-flex-grow:2;
} 

.flex__flex-grow_03{
	flex-grow:3;
	-webkit-flex-grow:3;
} 

.flex__flex-grow_04{
	flex-grow:4;
	-webkit-flex-grow:4;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;﻿
}
body{
	background-color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.27vmax;
	line-height: 1.9vmax;
	color: #323232;
}

li{
	
}
ul{
	list-style: none;
}

a{
	text-decoration: none;
}

h2{
	font-weight: 400;
}

.wrap{
	width: 76vw;
	margin: 0 auto;
	position: relative;
}

header{
	width: 100%;
	height: 100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(img/header01.png);
	padding-top: 7vh;
	padding-bottom: 8vh;
	color: #fff;
}

.top_header{
	height: 10vh;
	overflow: hidden;
}
.logo{
	width: 15vh;
}
.call{
	text-transform: uppercase;
	text-decoration: underline;
	cursor: pointer;
}

nav li{
	text-transform: uppercase;
}
nav a{
	color: #fff;
}

.about{
	width: 100%;
	padding-top: 18vh;
	padding-bottom: 22vh;
}

.text_about{
	width: 44vw;
	padding-right: 1.5vw;
}

.text_about ol{
	width: 30vw;
	margin: 6vh 0;
}
.text_about ol li{
	margin-bottom: 1.18vh
}

.blue{
	color: #00aaef;
}

.title_about{
	width: 30vw;
}
.title_about p{
	text-transform: uppercase;
	font-size: 3.8vw;
	line-height: 4.75vw;
}

.title{
	margin: 0 auto 5.5vh;
	z-index: 5;
	width: fit-content;
	width: -moz-fit-content;
	position: relative;
	top: -3.2vh;
}

.title h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 3.79vw;
	color: #323232;
	line-height: 2.84vw;
	margin-bottom: 2.22vh;
}

.dec_svg{
	width: 1.58vw;
	margin: 0 0.79vw;
}
.line{
	background-color: #00aaef;
	height: 0.26vh;
	width: 100%;
}

.gallery{
	background-color: #eeeeee;
	padding: 0 0 14.3vh;
}

.box_img_gallery{
	height: 20vmax;
	width: 100%;
	overflow: hidden;
}

.gallery_line:nth-of-type(1) .box_img_gallery:nth-of-type(1){
	width: 49vw;
	margin-right: 1.58vw;
}
.gallery_line:nth-of-type(1) .box_img_gallery:nth-of-type(2){
	width: 25.45vw;
}
.gallery_line:nth-of-type(3) .box_img_gallery:nth-of-type(1){
	width: 36.36vw;
	margin-right: 1.58vw;
}
.gallery_line:nth-of-type(3) .box_img_gallery:nth-of-type(2){
	width: 38.06vw;
}
.gallery_line:nth-of-type(5) .box_img_gallery:nth-of-type(1){
	width: 23.71vw;
	margin-right: 1.58vw;
}
.gallery_line:nth-of-type(5) .box_img_gallery:nth-of-type(2){
	width: 53.86vw;
}

.box_img_gallery:odd{
	margin-right: 1.58vw;
}

.box_img_gallery img{
	width: 100%;
	height: 100%;
	/*height: 90%;*/
}

.name_gallery{
	font-size: 1.26vw;
	font-weight: 500;
	margin: 2.61vh 0 4.57vh;
}

.blue_btn{
	background-color: #00aaef;
	color: #fff;
	text-transform: uppercase;
}
.blue_btn:hover{
	background-color: #0185ba;
}

.btn{
	border: none;
	padding: 1.58vw 4.98vw;
}

.consultation{
	background-color: #fff;
	padding-bottom: 19vh;
}

.text_consultation{
	width: 36.36vw;
}

.text_consultation h2{
	font-size: 2.52vw;
	line-height: 2.84vw;
	margin-bottom: 6.53vh;
}

.form_consultation,
.form_contact{
	width: 30vw;
}

.form_consultation input,
.form_contact input,
.form_contact textarea{
	background-color: #eee;
	border: none;
	text-align: center;
	width: 100%;
	height: 6.79vh;
	font-size: 1.1vw;
	color: #393939;
	text-transform: uppercase;
	margin-bottom: 1.3vh;
}

.form_contact textarea{
	resize: none;
	height: 21.7vh;
}

.form_consultation button{
	width: 100%;
	text-align: center;
}

.testimonials{
	background-color: #eee;
	padding-bottom: 19vh;
}

.box_tm{
	width: 23.71vw;
}

.name_tm{
	text-align: center;
	margin-bottom: 1.3vh;
}
.name_tm h3{
	font-weight: bold;

}
.name_tm h4{
	font-style: italic;
	color: #696973;
	font-weight: 400;
}

.name_tm h3, .name_tm h4{
	font-size: 1.26vw;
}

.box_img_tm{
	width: 11.62vw;
	height: 11.62vw;
	border-radius: 11.62vw;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: calc(50% - 5.81vw);
}

.box_img_tm img{
	width: 100%;
	height: auto;
}

.img_tm{
	height: 12.8vw;
	position: relative;
}

.text_tm{
	text-align: center;
}

.quote_tm{
	width: 2.8vw;
	height: 2.29vw;
	position: absolute;
	z-index: 1;
	top: 4vw;
	left: 3.75vw;
}

.contact_list li{
	margin-bottom: 5.62vh;
	font-size: 1.89vw;
}

.contact_list{
	width: 23.71vw;
}

.contacts{
	padding-bottom: 19vh;
}

footer{
	background-image: url(img/footer.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 71vh;
	position: relative;
}

.coper{
	position: absolute;
	color: #fff;
	width: 100%;
	bottom: 9.15vh;
	text-align: center;
}

